@font-face {
    font-family: "Khaled";
    src: url("/fonts/khaled.eot");
    src: url("/fonts/khaled.eot?#iefix") format("embedded-opentype"),

       url("/fonts/khaled.woff2") format("woff2"),
       url("/fonts/khaled.woff") format("woff"),
       url("fonts/khaled.ttf")format("troutype");

 }

 body {
    font-family: "Khaled" !important;
    background: url("../images/bg.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
 }

 .dark .dark-bg-body-dark{

    background:url("../images/bg-dark.jpg");
    background-size: cover;
    background-attachment: fixed;
 }
 .lh-0{
   line-height: 0;
 }

 .dark-mood-switch{
   width: 2.5em;
   height: 1.3rem;
 }
 